
<% layout('layout/page') %>
<% stylesheet('vendor/datatables/dataTables.bootstrap4.min.css') -%>
<% script('vendor/datatables/jquery.dataTables.min.js') %>
<% script('vendor/datatables/dataTables.bootstrap4.min.js') %>
<% script('js/favoritesTable.js') %>
<% block('title', 'Избранное') %>
<% block('menu', 'favorites') %>

<form method="POST" action="/favorites" class="">
<input type="hidden" id="secid" name="secid" value="" />
<div class="row">

    <% data.forEach(item => { %>
    <div class="col-sm-6 col-xl-3">
    <card class="card shadow mb-4" style="position: relative;">
        
        <a href="/quotes/<%= item.secid %>" style="text-decoration: none !important; color:#858796;">
        <div class="card-body text-content-center py-3">
            <div class="col-12 text-center font-weight-bold"><h3><%= item.SHORTNAME %></h3></div>
            <div class="col-12 text-center"><h4><%= item.LAST %></h4></div>
            <div class="col-12 text-center <% if (item.LASTTOPREVPRICE > 0) { %>text-success<% } %><% if (item.LASTTOPREVPRICE < 0) { %>text-danger<% } %>"><h4><%= Number(item.LAST*item.LASTTOPREVPRICE/(100+item.LASTTOPREVPRICE)).toFixed(2) %> <% if (item.CURRENCYID == 'SUR') { %><i class="fas fa-sm fw fa-ruble-sign"></i><% } %><% if (item.CURRENCYID == 'USD') { %>$<% } %> (<%= item.LASTTOPREVPRICE %> %)</h4></div>
        </div>
        </a>
        <ul class="navbar-nav" style="position:absolute; right: 0px; top: 0px;">
            <li class="nav-item">
                <button type="submit" name="action" value="delete" class="btn" onClick="if (confirm('Дествительно удалить инструмент из избранного?')) {setSecidId(<%= item.id %>);}"><i class="fas fw fa-times"></i></button>
            </li>
        </ul>   
    </card>
    </div>
    <% }) %>

</div> 

</form>

<script>
        function setSecidId(id) {
            document.getElementById('secid').value = id;
        }
</script>

