
<% layout('layout/page') %>
<% stylesheet('vendor/datatables/dataTables.bootstrap4.min.css') -%>
<% script('vendor/datatables/jquery.dataTables.min.js') %>
<% script('vendor/datatables/dataTables.bootstrap4.min.js') %>
<% script('js/favoritesTable.js') %>
<% block('title', 'Избранное') %>
<% block('menu', 'favorites') %>

<form method="POST" action="/favorites" class="">
        
  
          
                  
                  <div id="toolbar" class="toolbar row" role="toolbar">
                      <div class="">
                                <button type="submit" class="btn-primary btn btn-sm" name="action" value="delete" onClick="confirm('Удалить выбранные инструменты?');">
                                    <div class="btn-content">
                                        Удалить
                                    </div>
                                </button>
                        </div>
                  </div>

                  <div class="table-responsive row">
                      <table class="table table-striped table-bordered table-hover" id="favoritesTable">
                          <thead>
                              <tr>
                                  <th></th>
                                  <th>Тикер</th>
                                  <th>Компания</th>
                                  <th>Последняя</th>
                                  <th>Изменение, %</th>
                              </tr>
                          </thead>
                          <tfoot>
                          </tfoot>
                          <tbody>
                              <% for (var i = 0; i < data.length; i++) { %>   
                              <tr>
                                  <td><input type="checkbox" name="cids[]" value="<%= data[i]['id'] %>" title="" onclick="" /></td>
                                  <td><a href = "/quotes/<%= data[i]['secid'] %>" ><%= data[i]['secid'] %></a></td>
                                  <td><%= data[i]['SHORTNAME'] %></td>
                                  <td><%= data[i]['LAST'] %></td>
                                  <td><span style="
                                      <% if(data[i]['LASTTOPREVPRICE']<0){ %>
                                        color:red;
                                      <% } %>
                                      <% if(data[i]['LASTTOPREVPRICE']>0){ %>
                                        color:green;
                                      <% } %>
                                  "><%= data[i]['LASTTOPREVPRICE'] %> %</span></td>
                              </tr>
                              <% } %>
                          </tbody>
                      </table>
                  </div>



</form>

