<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
        <% include menu %>
    </header>
    
    <main role="main">
        <div class="container-fluid">
            <div class="layout raw wrap">
                <div class="d-flex justify-content-between">

                        <div class="section-title">
                            Портфели
                        </div>
                        <div class="">
                            <form method="POST" action="/portfolio" class="">
                            <button type="submit" class="btn-primary btn btn-sm" name="action" value="new">
                                <div class="btn-content">
                                    Добавить портфель
                                </div>
                            </button>
                            </form>
                        </div>

                </div>

                <div class="d-flex">
                    <div class="datatable">
                        <form method="POST" action="/portfolio">
                            <input type="hidden" id="portfolioId" name="id" value="" />
                        <table class="portfolios-table">
                            <thead>
                                <tr>
                                    <th class="text-xs-left" role="columnheader">Название</th>
                                    <th class="text-xs-right" role="columnheader">Фикс. комиссия</th>
                                    <th class="text-xs-center" role="columnheader">Валюта</th>
                                    <th class="text-xs-right" role="columnheader">Дата открытия</th>
                                    <th class="text-xs-right" role="columnheader" width="50"></th>
                                </tr>
                            </thead>
                            <tfoot>
                            </tfoot>
                            <tbody>
                                <% data.forEach(row => { %>
                                    <tr data-id="<%= row.id %>">
                                        <td><%= row.title %></td>
                                        <td><%= row.comission %></td>
                                        <td><%= row.currency %></td>
                                        <td><%= row.dateopen.toISOString().slice(0,10) %></td>
                                        <td>
                                            <div class="flex" style="width: 75px;">
                                            <button type="submit" class="btn btn-sm flex-child" style="display:inline-block;" name="action" value="edit" placeholder="Редактировать" onClick="setPortfolioId(<%= row.id %>);"><img src="/img/edit-16.png" /></button>
                                            <button type="submit" class="btn btn-sm flex-child" style="display:inline-block;" name="action" value="delete" placeholder="Удалить" onClick="setPortfolioId(<%= row.id %>);"><img src="/img/delete-16.png" /></button>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>

    </body>
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключаем плагин Popper (необходим для работы компонента Dropdown и др.) -->
    <script src="/popper/popper.min.js"></script>
    <!-- Подключаем Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--  script for submitting portfolio id -->
    <script>
        function setPortfolioId(id) {
            document.getElementById('portfolioId').value = id;
        }
    </script>
</html>