<% layout('layout/page') %>
<% stylesheet('/vendor/datatables/dataTables.bootstrap4.min.css') -%>
<% script('/vendor/datatables/jquery.dataTables.min.js') %>
<% script('/vendor/datatables/dataTables.bootstrap4.min.js') %>
<% script('/js/quotesTable.js') %>
<% block('title', 'Котировки') %>
<% block('menu', 'quotes') %>


      <section class="container-fluid">
      
        <div class="main-content">

          

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#stock">Акции</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#etf">ETF/ПИФы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#index">Индексы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bond">Облигации</a>
            </li>
          </ul>

          <div class="tab-content">
            
            <div class="tab-pane fade show active" id="stock">
              
              <table class = "table table-striped table-bordered table-hover" id = "quotesTable1">
                <thead>
                  <tr>
                    <th>Тикер</th>
                    <th>Компания</th>
                    <th>Последняя</th>
                    <th>Изменение, %</th>
                    <th>Открытие</th>
                    <th>Мин.</th>
                    <th>Макс.</th>
                    <th>Ср.взвеш.</th>
                    <th>Объем</th>
                    <th>Время</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                  <% for (var i = 0; i < data['stock'].length; i++) { %>   
                    <tr>
                      <td><a href = "/quotes/<%= data['stock'][i]['SECID'] %>" ><%= data['stock'][i]['SECID'] %></a></td>
                      <td><%= data['stock'][i]['SHORTNAME'] %></td>
                      <td><%= data['stock'][i]['LAST'] %></td>
                      <td>
                        <span style="
                        <% if(data['stock'][i]['LASTTOPREVPRICE']<0){ %>
                          color:red;
                        <% } %>
                        <% if(data['stock'][i]['LASTTOPREVPRICE']>0){ %>
                          color:green;
                        <% } %>
                        "> 
                        <%= data['stock'][i]['LASTTOPREVPRICE'] %> 
                        %</span>
                      </td>
                      <td><%= data['stock'][i]['OPEN'] %></td>
                      <td><%= data['stock'][i]['LOW'] %></td>
                      <td><%= data['stock'][i]['HIGH'] %></td>
                      <td><%= data['stock'][i]['WAPRICE'] %></td>
                      <td><%= data['stock'][i]['VALTODAY'] %></td>
                      <td><%= data['stock'][i]['TIME'] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>

            </div>
            <div class="">
            </div>

            <div class="tab-pane fade" id="etf">
              <table class = "table table-striped table-bordered table-hover" id = "quotesTable2">
                <thead>
                  <tr>
                    <th>Тикер</th>
                    <th>Компания</th>
                    <th>Последняя</th>
                    <th>Изменение, %</th>
                    <th>Открытие</th>
                    <th>Мин.</th>
                    <th>Макс.</th>
                    <th>Ср.взвеш.</th>
                    <th>Объем</th>
                    <th>Время</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                  <% for (var i = 0; i < data['etf'].length; i++) { %>   
                    <tr>
                      <td><a href = "/quotes/<%= data['etf'][i]['SECID'] %>" ><%= data['etf'][i]['SECID'] %></a></td>
                      <td><%= data['etf'][i]['SHORTNAME'] %></td>
                      <td><%= data['etf'][i]['LAST'] %></td>
                      <td>
                        <span style="
                        <% if(data['etf'][i]['LASTTOPREVPRICE']<0){ %>
                          color:red;
                        <% } %>
                        <% if(data['etf'][i]['LASTTOPREVPRICE']>0){ %>
                          color:green;
                        <% } %>
                        "> 
                        <%= data['stock'][i]['LASTTOPREVPRICE'] %> 
                        %</span>
                      </td>
                      <td><%= data['etf'][i]['OPEN'] %></td>
                      <td><%= data['etf'][i]['LOW'] %></td>
                      <td><%= data['etf'][i]['HIGH'] %></td>
                      <td><%= data['etf'][i]['WAPRICE'] %></td>
                      <td><%= data['etf'][i]['VALTODAY'] %></td>
                      <td><%= data['etf'][i]['TIME'] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

            <div class="tab-pane fade" id="index">
              <table class = "table table-striped table-bordered table-hover" id = "quotesTable3">
                <thead>
                  <tr>
                    <th>Тикер</th>
                    <th>Название</th>
                    <th>Текущее значение</th>
                    <th>Изменение за день</th>
                    <th>Изменение за месяц</th>
                    <th>Изменение за год</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                  <% for (var i = 0; i < data['index'].length; i++) { %>   
                    <tr>
                      <td><a href = "/quotes/<%= data['index'][i]['SECID'] %>" ><%= data['index'][i]['SECID'] %></a></td>
                      <td><%= data['index'][i]['NAME'] %></td>
                      <td><%= data['index'][i]['CURRENTVALUE'] %></td>
                      <td><%= data['index'][i]['LASTCHANGETOOPENPRC'] %> %</td>
                      <td><%= data['index'][i]['MONTHCHANGEPRC'] %> %</td>
                      <td><%= data['index'][i]['YEARCHANGEPRC'] %> %</td>
                    </tr>
                  <% } %>
                </tbody>
              </table>

            </div>

            <div class="tab-pane fade" id="bond">
              Bonds
            </div>

          </div>

        </div>

      </section>
