<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu %>
    <div class="info-header">
        <h2><% if (board == 'TQBR') var board = 'Акции российских компаний' %><%= board %></h2> 
    </div>
    <table class = "tableQuotes">
      <thead>
        <tr>
          <th>Тикер</th>
          <th>Компания</th>
          <th>Цена</th>
          <th>Изменение</th>
          <th>Размер лота</th>
          <th>Валюта</th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% for (var i = 0; i < sequrities.length; i++) { %>
        <% var secid = sequrities[i][0] %>
        <% var shortname = sequrities[i][2] %>
        <% var lotsize = sequrities[i][4] %>
        <% var prevAdmittedQuote = sequrities[i][23] %>
        <% var last = marketdata[i][12] %>
        <% var change = marketdata[i][25] %>
        <% var currency = sequrities[i][24] %>
        <% if (currency == 'SUR') currency = 'RUB' %>        
          <tr>
            <td><a href = "http://<%= hostname %>/quotes/stock/<%= secid %>" ><%= secid %></a></td>
            <td><%= shortname %></td>
            <td><%= last %></td>
            <td><%= change.toFixed(2) %></td>
            <td><%= lotsize %></td>
            <td><%= currency %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>