<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
        <% include menu %>
    </header>
    
    <main role="main">
        <div class="container-fluid">
            <div class="info-header">
                <h2>Информация</h2> 
            </div>

            <div class="info-security-page">
                <div class="info-security-name text-center">
                    <h3><%= data['secname'] %> (<%= data['secid'] %>)</h3>
                </div>
                
                <div class="info-security-box">
                    <ul class="security-diggest">
                        <li><div style="font-size:2.8rem;"><%= data['last'] %></div></li>
                        <li><div>(<%= data['lasttoprevprice'] %> %)</div><div><%= data['currencyid'] %></div></li>
                        <li><div>Размер лота: <%= data['lotsize'] %></div></li>
                        <li><div>Предложение:  <%= data['offer'] %></div><div>Спрос:  <%= data['bid'] %></div></li>
                        <li><div>Максимум: <%= data['high'] %></div><div>Минимум: <%= data['low'] %></div></li>
                        <li><div>Сделок сегодня: <%= data['numtrades'] %></div><div>Капитализация: <%= data['issuecapitalization'] %></div></li>
                    </ul>

                    <a href="https://www.moex.com/ru/issue.aspx?code=<%= data['secid'] %>" target="_blank">Профиль эмитента</a>

                </div>

                <div id="highcharts" style="height: 400px; min-width: 310px">
                </div>

                <div class="info-board">
                    <h3>Дивиденды</h3>
                    <table id="dividends">
                        <thead>
                            <tr>
                                <th width="150px">Дата</th>
                                <th width="300px">Размер дивидендов</th>
                            </tr>
                        </thead>
                        <tfoot></tfoot>
                        <tbody>
                            <% for (var i = 0; i < data['dividends'].length; i++) { %> 
                                <tr>
                                    <td><%= data['dividends'][i][0] %></td>
                                    <td><%= data['dividends'][i][1] %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>

    <footer>
    </footer>

    </body>
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключаем плагин Popper (необходим для работы компонента Dropdown и др.) -->
    <script src="/popper/popper.min.js"></script>
    <!-- Подключаем Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Highcharts -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script>
        Highcharts.getJSON('https://demo-live-data.highcharts.com/aapl-c.json', function (chart_data) {
            var candles = <%- JSON.stringify(data) %>;

        // Create the chart
            Highcharts.stockChart('highcharts', {
                rangeSelector: {
                    selected: 3
                },

                title: {
                    text: '<%- data['secid'] %> Stock Diagramm'
                },

                series: [{
                    name: '<%- data['secid'] %>',
                    data: candles['candles'],
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        });
    </script>
</html>