<% layout('layout/page') %>
<% stylesheet('/vendor/datatables/dataTables.bootstrap4.min.css') -%>
<% script('/vendor/datatables/jquery.dataTables.min.js') %>
<% script('/vendor/datatables/dataTables.bootstrap4.min.js') %>
<% script('/js/quotesTable.js') %>
<% block('title', 'Котировки') %>
<% block('menu', 'quotes') %>

      <section class="container-fluid">
      
        <div class="main-content">

          

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#stock">Акции</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#etf">ETF/ПИФы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#index">Индексы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bond">Облигации</a>
            </li>
          </ul>

          <div class="tab-content">
            
            <div class="tab-pane fade show active" id="stock">
              
              <table class = "table table-striped table-bordered table-hover " id = "quotesTable1">
                <thead>
                  <tr>
                    <th>Тикер</th>
                    <th class="d-none d-sm-table-cell">Компания</th>
                    <th>Последняя</th>
                    <th>Изменение, %</th>
                    <th class="d-none d-sm-table-cell">Открытие</th>
                    <th class="d-none d-sm-table-cell">Мин.</th>
                    <th class="d-none d-sm-table-cell">Макс.</th>
                    <th class="d-none d-sm-table-cell">Ср.взвеш.</th>
                    <th class="d-none d-sm-table-cell">Объем</th>
                    <th class="d-none d-sm-table-cell">Время</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                  <% data.shares.forEach(row => { %> 
                    <tr>
                      <td><a href = "/quotes/<%= row.SECID %>" ><%= row.SECID %></a></td>
                      <td class="d-none d-sm-table-cell"><%= row.SHORTNAME %></td>
                      <td><%= row.LAST %></td>
                      <td>
                        <span style="
                        <% if(row.LASTTOPREVPRICE<0){ %>
                          color:red;
                        <% } %>
                        <% if(row.LASTTOPREVPRICE>0){ %>
                          color:green;
                        <% } %>
                        "> 
                        <%= row.LASTTOPREVPRICE %> 
                        %</span>
                      </td>
                      <td class="d-none d-sm-table-cell"><%= row.OPEN %></td>
                      <td class="d-none d-sm-table-cell"><%= row.LOW %></td>
                      <td class="d-none d-sm-table-cell"><%= row.HIGH %></td>
                      <td class="d-none d-sm-table-cell"><%= row.WAPRICE %></td>
                      <td class="d-none d-sm-table-cell"><%= row.VALTODAY %></td>
                      <td class="d-none d-sm-table-cell"><%= row.TIME %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>

            </div>
            <div class="">
            </div>

            <div class="tab-pane fade" id="etf">
              <table class = "table table-striped table-bordered table-hover" id = "quotesTable2">
                <thead>
                  <tr>
                    <th>Тикер</th>
                    <th class="d-none d-sm-table-cell">Компания</th>
                    <th>Последняя</th>
                    <th>Изменение, %</th>
                    <th class="d-none d-sm-table-cell">Открытие</th>
                    <th class="d-none d-sm-table-cell">Мин.</th>
                    <th class="d-none d-sm-table-cell">Макс.</th>
                    <th class="d-none d-sm-table-cell">Ср.взвеш.</th>
                    <th class="d-none d-sm-table-cell">Объем</th>
                    <th class="d-none d-sm-table-cell">Время</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                  <% data.etf.forEach(row => { %> 
                    <tr>
                      <td><a href = "/quotes/<%= row.SECID %>" ><%= row.SECID %></a></td>
                      <td class="d-none d-sm-table-cell"><%= row.SHORTNAME %></td>
                      <td><%= row.LAST %></td>
                      <td>
                        <span style="
                        <% if(row.LASTTOPREVPRICE<0){ %>
                          color:red;
                        <% } %>
                        <% if(row.LASTTOPREVPRICE>0){ %>
                          color:green;
                        <% } %>
                        "> 
                        <%= row.LASTTOPREVPRICE %> 
                        %</span>
                      </td>
                      <td class="d-none d-sm-table-cell"><%= row.OPEN %></td>
                      <td class="d-none d-sm-table-cell"><%= row.LOW %></td>
                      <td class="d-none d-sm-table-cell"><%= row.HIGH %></td>
                      <td class="d-none d-sm-table-cell"><%= row.WAPRICE %></td>
                      <td class="d-none d-sm-table-cell"><%= row.VALTODAY %></td>
                      <td class="d-none d-sm-table-cell"><%= row.TIME %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>

            <div class="tab-pane fade" id="index">
              <table class = "table table-striped table-bordered table-hover" id = "quotesTable3">
                <thead>
                  <tr>
                    <th>Тикер</th>
                    <th class="d-none d-sm-table-cell">Название</th>
                    <th>Текущее значение</th>
                    <th class="d-none d-sm-table-cell">Изменение за день</th>
                    <th class="d-none d-sm-table-cell">Изменение за месяц</th>
                    <th class="d-none d-sm-table-cell">Изменение за год</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                  <% data.index.forEach(row => { %> 
                    <tr>
                      <td><a href = "/quotes/<%= row.SECID %>" ><%= row.SECID %></a></td>
                      <td class="d-none d-sm-table-cell"><%= row.NAME %></td>
                      <td><%= row.CURRENTVALUE %></td>
                      <td class="d-none d-sm-table-cell"><%= row.LASTCHANGETOOPENPRC %> %</td>
                      <td class="d-none d-sm-table-cell"><%= row.MONTHCHANGEPRC %> %</td>
                      <td class="d-none d-sm-table-cell"><%= row.YEARCHANGEPRC %> %</td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>

            </div>

            <div class="tab-pane fade" id="bond">
              <table class = "table table-striped table-bordered table-hover" id = "quotesTable4">
                <thead>
                  <tr>
                    <th>Тикер</th>
                    <th>Название</th>
                    <th>Цена посл., %</th>
                    <th>Изменение посл., %</th>
                    <th>Ср. взв. цена, %</th>
                    <th>Доход. посл. сд.</th>
                    <th>Дюрация</th>
                    <th>Сумма купона</th>
                    <th>Дата оферты</th>
                    <th>Дата погашения</th>
                    <th>Доходность к оферте</th>
                    <th>Доходность для последнего купона</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                  <% data.bonds.forEach(row => { %> 
                    <tr>
                      <td><a href = "/quotes/<%= row.SECID %>" ><%= row.SECID %></a></td>
                      <td><%= row.SHORTNAME %></td>
                      <td><% if (row.LAST) { %><%= row.LAST %> %<% } else {%>-<%}%></td>
                      <td><% if (row.LASTCHANGEPRCNT) { %><%= row.LASTCHANGEPRCNT %> %<% } else {%>-<%}%></td>
                      <td><% if (row.WAPRICE) { %><%= row.WAPRICE %> %<% } else {%>-<%}%></td>
                      <td><%= row.YIELD %> %</td>
                      <td><%= row.DURATION %></td>
                      <td><%= row.COUPONVALUE %></td>
                      <td><% if (row.OFFERDATE) { %><%= row.OFFERDATE %><% } else {%>-<%}%></td>
                      <td><%= row.MATDATE %></td>
                      <td><%= (row.YIELDTOOFFER) ? row.YIELDTOOFFER : '-' %></td>
                      <td><%= (row.YIELDLASTCOUPON) ? row.YIELDLASTCOUPON : '-' %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>

          </div>

        </div>

      </section>

