<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
        <% include menu %>
    </header>
    
    <main role="main">
        <div class="container">
            <div class="info-header">
                <h2>Информация</h2> 
            </div>

            <div class="info-share-page">
                <div class="info-share-name">
                    <%= data['secname'] %> (<%= data['secid'] %>)
                </div>
                <div class="info-share-about">
                    <p>Размер лота <%= data['lotsize'] %></p>
                    <p>Последняя цена  <%= data['last'] %> <%= data['currencyid'] %></p>
                    <p>Изменения за день  <%= data['lastchange'] %> <%= data['currencyid'] %></p>
                    <p>Изменения за день (%)  <%= data['lastchangeprcnt'] %></p>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>

    </body>
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключаем плагин Popper (необходим для работы компонента Dropdown и др.) -->
    <script src="/popper/popper.min.js"></script>
    <!-- Подключаем Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>