<% layout('../layout/page') %>
<% block('title', 'Свойства портфеля') %>
<% block('menu', 'portfolios') %>
<% script('/vendor/jquery-validate/dist/jquery.validate.min.js') %>
<% script('/js/validate.js') %>
<% script('/js/portfolio-edit.js') %>

        <div class="row">

            <div class="col-6">
            <form id="portfolioEdit" class="form validate" name="portfolioEdit" method="POST" action="/portfolios" role="form">
                <input type="hidden" name="id" value="<%= !isNew ? data.id : '' %>" />
                <div class="form-group form-row">
                    <label for="title">* Название портфеля:</label>
                    <input class="form-control mr-sm-2" id="title" name="title" type="text" value="<%= !isNew ? data.title : '' %>" placeholder="Введите название портфеля" required="required"/>
                </div>
                <div class="form-group form-row">
                    <div class="col">
                        <label for="currency" class="mr-sm-2">Валюта:</label>
                        <select name="currency" id="currency" class="form-control mr-sm-2">
                            <option value="RUB" 
                                <% if (data.currency === 'RUB') { %>
                                selected="selected"
                                <% } %>
                                >RUB
                            </option>
                            <option value="USD" 
                                <% if (data.currency === 'USD') { %>
                                selected="selected"
                                <% } %>
                                >USD
                            </option>
                            <option value="EUR" 
                                <% if (data.currency === 'EUR') { %>
                                selected="selected"
                                <% } %>
                                >EUR
                            </option>
                            <option value="GBP" 
                                <% if (data.currency === 'GBP') { %>
                                selected="selected"
                                <% } %>
                                >GBP
                            </option>
                        </select>
                    </div>
                    <div class="col">
                    <label for="comission" class="mr-sm-2">Комиссия по умолчанию, %:</label>
                        <input class="form-control mr-sm-2" id="comission" type="text" name="comission" value="<%= isNew ? '0' : data.comission %>" />
                    </div>
                </div>

                <div class="form-group form-row">
                        <label for="dateopen" class="mr-sm-2">Дата открытия:</label>
                        <input type="date" id="dateopen" name="dateopen" class="form-control mr-sm-2" 
                        value="<% if (typeof data.dateopen !== 'undefined') { %><% if (typeof data.dateopen == 'object') {%><%=data.dateopen.toISOString().slice(0,10)%><%} else {%><%=data.dateopen%><%}%><%}else{%><%= new Date().toISOString().slice(0,10) %><%}%>" />
                </div>
                
                <div class="form-group form-row">
                    <label for="memo">Описание:</label>
                    <textarea name="memo" class="form-control mr-sm-2" placeholder="Описание"><%= !isNew ? data.memo : '' %></textarea>
                </div>

                <div class="form-group form-row d-flex justify-center ml-2">
                    <button type="submit" class="btn btn-primary btn-sm mr-sm-2" name="action" value="save">Сохранить</button>
                    <a href="/portfolios" class="btn btn-primary btn-sm">Отменить</a>
                </div>
            </form>
            </div>
        </div>

    <script>
        var err = <%if (typeof error !== 'undefined') {%><%- JSON.stringify(error) %><%} else {%><%=null%><%}%>;
    </script>
