<% layout('../layout/portfolio') %>
<% var title = 'Портфель - ' + data.portfolio.title; %>
<% block('title', title) %>
<% block('menu', 'portfolio actives') %>
            
<section class="row">
                
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Стоимость
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <%= Number(data.portfolio.cost).toFixed(2) %>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-ruble-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Прибыль
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <span style="color: 
                            <% if (Number(data.portfolio.profit) > 0) { %> green<%} else {%> red <%}%>
                            ;">
                            <%= Number(data.portfolio.profit).toFixed(2) %>
                            </span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Годовая доходность
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <span style="color: 
                            <% if (Number(data.portfolio.xirr) > 0) { %> green<%} else {%> red <%}%>
                            ;">
                            <%= Number(data.portfolio.xirr).toFixed(2) %> %
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Изменение за день
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <span style="color: 
                            <% if (Number(data.portfolio.change) > 0) { %> green<%} else {%> red <%}%>
                            ;">
                            <%= Number(data.portfolio.change).toFixed(2) %>
                            <i class="fas fa-fw fa-ruble-sign"></i>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
</section>
<!-- Cards -->

<section class="row">
    <div class="col-lg-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 text-primary font-weight-bold">Состав портфеля по активам</h6>
        </div>
        <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Актив</th>
                                <th>Текущая стоимость</th>
                                <th>Прибыль</th>
                                <th>Изменение за день</th>
                                <th>Текущая доля, %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Акции</td>
                                <td><%= data.portfolio.shares.cost.toFixed(2) %></td>
                                <td style="color:<% if (Number(data.portfolio.shares.profit) > 0) { %>green<%} else {%>red<%}%>;">
                                    <%= data.portfolio.shares.profit.toFixed(2) %>
                                </td>
                                <td style="color:<% if (Number(data.portfolio.shares.change) > 0) { %> green<%} else {%> red <%}%>;">
                                    <%= data.portfolio.shares.change.toFixed(2) %>
                                </td>
                                <td><%= (100 * Number(data.portfolio.shares.cost) / (Number(data.portfolio.shares.cost) + Number(data.portfolio.etf.cost) + Number(data.portfolio.cashe))).toFixed(2) %></td>
                            </tr>
                            <tr>
                                <td>ETF/ПИФ</td>
                                <td><%= data.portfolio.etf.cost.toFixed(2) %></td>
                                <td style="color:<% if (Number(data.portfolio.etf.profit) > 0) { %>green<%} else {%>red<%}%>;">
                                    <%= data.portfolio.etf.profit.toFixed(2) %>
                                </td>
                                <td style="color:<% if (Number(data.portfolio.etf.change) > 0) { %>green<%} else {%>red<%}%>;">
                                    <%= data.portfolio.etf.change.toFixed(2) %>
                                </td>
                                <td><%= (100 * Number(data.portfolio.etf.cost) / (Number(data.portfolio.shares.cost) + Number(data.portfolio.etf.cost) + Number(data.portfolio.cashe))).toFixed(2) %></td>
                            </tr>
                            <tr>
                                <td>Рубли</td>
                                <td><%= Number(data.portfolio.cashe).toFixed(2) %></td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td><%= (100 * Number(data.portfolio.cashe) / (Number(data.portfolio.shares.cost) + Number(data.portfolio.etf.cost) + Number(data.portfolio.cashe))).toFixed(2) %></td>
                            </tr>
                        </tbody>
                    </table>
        </div>
    </div>
    </div>
</section>

<section class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 text-primary font-weight-bold">Акции</h6>
            </div>
            <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Тикер</th>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Средняя цена</th>
                                <th>Текущая цена</th>
                                <th>Стоимость</th>
                                <th>Курсовая прибыль, %</th>
                                <th>Прибыль</th>
                                <th>Изменение за день, %</th>
                                <th>Текущая доля</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.shares.forEach(share => { %>
                                <tr>
                                    <td><a href="/quotes/<%= share.secid %>"><%= share.secid %></a></td>
                                    <td><%= share.shortname %></td>
                                    <td><%= share.amount %></td>
                                    <td><%= share.meanprice.toFixed(2) %></td>
                                    <td><%= share.last.toFixed(2) %></td>
                                    <td><%= share.cost.toFixed(2) %></td>
                                    <td style="color:<% if (Number(share.exchangeprofitprcnt) > 0) { %>green<%} else {%>red<%}%>;">
                                        <%= share.exchangeprofitprcnt.toFixed(2) %>
                                    </td>
                                    <td style="color:<% if (Number(share.profit) > 0) { %>green<%} else {%>red<%}%>;">
                                        <%= share.profit.toFixed(2) %>
                                    </td>
                                    <td style="color:<% if (Number(share.lasttoprevprice) > 0) { %>green<%} else {%>red<%}%>;">
                                        <%= share.lasttoprevprice %></td>
                                    <td><%= share.percentage.toFixed(2) %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 text-primary font-weight-bold">ETF/ПИФ</h6>
            </div>
            <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Тикер</th>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Средняя цена</th>
                                <th>Текущая цена</th>
                                <th>Стоимость</th>
                                <th>Курсовая прибыль, %</th>
                                <th>Прибыль</th>
                                <th>Изменение за день, %</th>
                                <th>Текущая доля</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.etf.forEach(etf => { %>
                                <tr>
                                    <td><a href="/quotes/<%= etf.secid %>"><%= etf.secid %></a></td>
                                    <td><%= etf.shortname %></td>
                                    <td><%= etf.amount %></td>
                                    <td><%= etf.meanprice.toFixed(2) %></td>
                                    <td><%= etf.last.toFixed(2) %></td>
                                    <td><%= etf.cost.toFixed(2) %></td>
                                    <td style="color:<% if (Number(etf.exchangeprofitprcnt) > 0) { %>green<%} else {%>red<%}%>;">
                                        <%= etf.exchangeprofitprcnt.toFixed(2) %>
                                    </td>
                                    <td style="color:<% if (Number(etf.profit) > 0) { %>green<%} else {%>red<%}%>;">
                                        <%= etf.profit.toFixed(2) %>
                                    </td>
                                    <td style="color:<% if (Number(etf.lasttoprevprice) > 0) { %>green<%} else {%>red<%}%>;">
                                        <%= etf.lasttoprevprice %></td>
                                    <td><%= etf.percentage.toFixed(2) %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 text-primary font-weight-bold">Стоимость портфеля</h6>
            </div>
            <div id="highcharts" style="height: 400px; min-width: 310px"></div>
        </div>
    </div>
</section>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script>
        Highcharts.getJSON('https://demo-live-data.highcharts.com/aapl-c.json', function (chart_data) {
            var history = <%- JSON.stringify(data.history) %>;

        // Create the chart
            Highcharts.stockChart('highcharts', {
                rangeSelector: {
                    selected: 5
                },

                title: {
                    text: ''
                },

                series: [{
                    name: 'history',
                    data: history,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            alert(session);
        })
    </script>
