<% if (data.isNew) {var title = 'Добавить сделку'} else {var title = 'Изменить сделку'} %>
<% block('title', title) %>
<% block('menu', 'portfolio trades') %>


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FINISTA - <%= blocks.title %></title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- partial('../partials/sideMenuPortfolio') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            
            <!-- Main Content -->
            <div id="content">

                  <%- partial('../partials/topNavigator') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"><%= blocks.title %></h1>

                    <div class="">
            <form id="new-trade" name="newTrade" method="POST" action="/portfolio/trades" class="form needs-validation">
                <input type="hidden" id="id" name="id" value="<%= (!data.isNew) ? data.trade.id : '' %>" />
                <input type="hidden" name="portfolioId" value="<%= data.portfolio.id %>" />
                <div class="form-group">
                    <label for="type">Тип сделки:</label>
                    <select name="type" id="type" class="form-control mr-sm-2" onChange="updateForm();">
                        <option value="1" 
                            <% if (typeof data.trade !== 'undefined' && data.trade.secid !== data.portfolio.currency) { %>
                            selected="selected"
                            <% } %>
                        >Акция/ПИФ/ETF</option>
                        <option value="2" 
                            <% if (typeof data.trade !== 'undefined' && data.trade.secid === data.portfolio.currency) { %>
                            selected="selected"
                            <% } %>
                        >Деньги</option>
                    </select>
                    <!-- <label for="secid" class="">Тикер компании*</label> -->
                    <label for="secid">Тикер:</label>
                    <select name="secid" class="form-control mr-sm-2 select2" id="secid" searchable="Search here..">
                        <option value="" disabled selected>Выберите бумагу</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="operationId" class="">Операция:</label>
                    <select id="operationId" class="form-control mr-sm-2" name="operationId" >
                        <% data.operations.forEach(row => { %>
                            <option value="<%= row.id %>" 
                                <% if (typeof data.trade !== 'undefined' && row.id == data.trade.operationId) { %>
                                selected="selected"
                                <% } %>
                            ><%= row.title %></option>
                        <% }) %>
                    </select>
                    <label for="date" class="">Дата:*</label>
                    <input type="date" id="date" class="form-control sm-2" name="date" value="<% if (typeof data.trade !== 'undefined') { %><% if (typeof data.trade.date == 'object') {%><%=data.trade.date.toISOString().slice(0,10)%><%} else {%><%=data.trade.date%><%}%><%}else{var now = new Date().toISOString().slice(0,10)%><%=now%><%}%>" />
                    <label for="price" class="" id="labelPrice">Цена:*</label>
                    <input type="text" id="price" class="form-control sm-2" name="price" value="<%= (typeof data.trade !== 'undefined') ? data.trade.price : '' %>" placeholder="Цена" />
                    <label for="amount" class="" id="labelAmount">Количество:*</label>
                    <input type="text" id="amount" class="form-control mr-sm-2" name="amount" value="<%= (typeof data.trade !== 'undefined') ? data.trade.amount : 1 %>" placeholder="Количество" />
                </div>

                <div class="form-group">
                    <label for="comission">Комиссия:</label>
                    <input type="text" id="comission" class="form-control" name="comission" value="<%= (typeof data.trade !== 'undefined') ? data.trade.comission : 0 %>" placeholder="Комиссия" />
                </div>

                <div class="form-group">
                    <label for="comment">Заметка:</label>
                    <input type="text" id="comment" class="form-control" name="comment" value="<%= (typeof data.trade !== 'undefined') ? data.trade.comment : '' %>" placeholder="Заметка" />
                </div>

                <div class="form-group justify-center">
                    <button type="submit" class="btn btn-primary btn-sm mr-sm-2" name="action" value="save">Сохранить</button>
                    <button type="submit" class="btn btn-primary btn-sm" name="action" value="cancel">Отменить</button>
                </div>

            </form>
            </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/signin">Logout</a>
                </div>
            </div>
        </div>
    </div>

<% if (typeof error !== 'undefined') { %>
<script> var err = <%- JSON.stringify(error) %> </script>
<% } else { %>
<script>var err = null</script>
<% } %>
<script>
    var data = <%- JSON.stringify(data) %>;

    function insertAfter(referenceNode, newNode) {
                referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

// Edit trade scripts
function updateForm() {
            var type = $("#type :selected").val();

                switch(type) {
                    case '1':
                        
                        $("#secid").show();
                        $("secid").empty();
                        buildSelect();

                        $("#operationId option[value=1]").text('Покупка');
                        $("#operationId option[value=2]").text('Продажа');
                        if ($("#operationId option").size == 2) {
                            $("#operationId").append('<option value="3">Дивиденд</option>');
                        } else {
                            $("#operationId option[value=3]").text('Дивиденд');
                        }

                        $("#labelPrice").text("Цена:*");

                        $("#amount").show();
                        $("#labelAmount").show();

                        break;
                    case '2':
                        $("#secid").empty();
                        $("#secid").append('<option value="RUB" selected="selected">Деньги</option>');
                        // $("#secid").hide();

                        $("#operationId option[value=1]").text('Внести');
                        $("#operationId option[value=2]").text('Вывести');
                        $("#operationId option[value=3]").remove();

                        $("#labelPrice").text("Сумма:*");

                        $("#amount").val('1');
                        $("#amount").hide();
                        $("#labelAmount").hide();


                        break;
                }
        }

        function buildSelect() {

            const securities = data.securities;

            $("#secid").empty();
            $("#secid").append('<option value="" disabled selected>Выберите бумагу</option>');
             // construct options for secid select
            securities.forEach(function(security) {
                $("#secid").append('<option value="'+security.secid+'">'+security.secid+' ('+security.name+') ('+security.group+')</option>')
            })

            if (typeof data.trade !== 'undefined') {
                var secid = JSON.stringify(data.trade.secid); 
            } else {
                var secid = null;
            }

            $("#secid option[value='"+secid+"']").attr("selected","selected");
        }

// build select
$(document).ready(function() {                
    buildSelect();
    updateForm();
    $(".select2").select2();
});

// validation form
$(document).ready(function() {


            if (err) {

                for (var i = 0; i<err.errors.length; i++) {
                    var el_id = err.errors[i].path;

                    var el = document.getElementById(el_id);
                    el.classList.add("is-invalid");
                    
                    var div = document.createElement("div");
                    div.classList.add("invalid-feedback");
                    div.innerHTML = err.errors[i].message;

                    insertAfter(el, div);

                    el.addEventListener('change', function (event) {
                        event.target.classList.remove("is-invalid");
                        event.target.nextElementSibling.remove();
                    });
                }

            }

});

</script>

</body>

</html>
    