<!DOCTYPE html>
<html>
  <head>
    <title>Портфель "<%= data.portfolio.title %>": Добавить сделку</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
        <% include menu %>
    </header>
    
    <main role="main">
        <section class="container-fluid">
            <div class="section-title wrap">
                <% if (!data.isNew) { %>
                Изменить сделку
                <% } else { %>
                Добавить сделку
                <% } %>
            </div>

            <div class="">
            <form id="new-trade" name="newTrade" method="POST" action="/portfolio/<%= data.portfolio.id %>/trades" class="form">
                <input type="hidden" id="id" name="id" value="<%= (!data.isNew) ? data.trade.id : '' %>" />
                <input type="hidden" name="portfolioId" value="<%= data.portfolio.id %>" />
                <div class="form-inline">
                    <!-- <label for="secid" class="">Тикер компании*</label> -->
                    <input type="text" id="secid" class="form-control mr-sm-2" name="secid" value="<%= (!data.isNew) ? data.trade.secid : '' %>" placeholder="Тикер компании"/>
                    <!-- <label for="type" class="">Тип операции*</label> -->
                    <select name="type" id="type" class="form-control mr-sm-2" onChange="updateForm();">
                        <option value="1" 
                            <% if (typeof data.trade !== 'undefined' && data.trade.secid !== data.portfolio.currency) { %>
                            selected="selected"
                            <% } %>
                        >Акция/ПИФ/ETF</option>
                        <option value="2" 
                            <% if (typeof data.trade !== 'undefined' && data.trade.secid === data.portfolio.currency) { %>
                            selected="selected"
                            <% } %>
                        >Деньги</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="operationId" class="">Операция:</label>
                    <select id="operationId" class="form-control mr-sm-2" name="operationId" >
                        <% data.operations.forEach(row => { %>
                            <option value="<%= row.id %>" 
                                <% if (typeof data.trade !== 'undefined' && row.id == data.trade.operationId) { %>
                                selected="selected"
                                <% } %>
                            ><%= row.title %></option>
                        <% }) %>
                    </select>
                    <label for="date" class="">Дата:*</label>
                    <input type="date" id="date" class="form-control sm-2" name="date" value="
                    <% if (!data.isNew) { %>
                    <%= data.trade.date.toISOString().slice(0,10) %>
                    <% } else { %>
                    <%= new Date(Date.now()).toISOString().substring(0,10) %>    
                    <% } %>
                    " />
                    <label for="price" class="" id="labelPrice">Цена:*</label>
                    <input type="text" id="price" class="form-control sm-2" name="price" value="<%= (typeof data.trade !== 'undefined') ? data.trade.price : '' %>" placeholder="Цена" />
                    <label for="amount" class="" id="labelAmount">Количество:*</label>
                    <input type="text" id="amount" class="form-control mr-sm-2" name="amount" value="<%= (typeof data.trade !== 'undefined') ? data.trade.amount : 1 %>" placeholder="Количество" />
                </div>

                <div class="form-group">
                    <label for="comission">Комиссия:</label>
                    <input type="text" id="comission" class="form-control" name="comission" value="<%= (typeof data.trade !== 'undefined') ? data.trade.comission : 0 %>" placeholder="Комиссия" />
                </div>

                <div class="form-group">
                    <label for="comment">Заметка:</label>
                    <input type="text" id="comment" class="form-control" name="comment" value="<%= (typeof data.trade !== 'undefined') ? data.trade.comment : '' %>" placeholder="Заметка" />
                </div>

                <div class="form-group justify-center">
                    <button type="submit" class="btn btn-primary btn-sm mr-sm-2" name="action" value="save">
                        <% if (!data.isNew) { %>
                        Сохранить
                        <% } else { %>
                        Добавить
                        <% } %>
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" name="action" value="cancel">Отменить</button>
                </div>
            </form>
            </div>
        </section>
    </main>

    <footer>
    </footer>

    <script>
        function updateForm() {
            var type = $("#type :selected").val();

                switch(type) {
                    case '1':
                        
                        $("#secid").show();

                        $("#operationId option[value=1]").text('Покупка');
                        $("#operationId option[value=2]").text('Продажа');
                        if ($("#operationId option").size == 2) {
                            $("#operationId").append('<option value="3">Дивиденд</option>');
                        } else {
                            $("#operationId option[value=3]").text('Дивиденд');
                        }

                        $("#labelPrice").text("Цена:*");

                        $("#amount").show();
                        $("#labelAmount").show();

                        break;
                    case '2':
                        $("#secid").val('RUB');
                        $("#secid").hide();

                        $("#operationId option[value=1]").text('Внести');
                        $("#operationId option[value=2]").text('Вывести');
                        $("#operationId option[value=3]").remove();

                        $("#labelPrice").text("Сумма:*");

                        $("#amount").val('1');
                        $("#amount").hide();
                        $("#labelAmount").hide();


                        break;
                }
        }


        $(document).ready(function() {
                updateForm();
        });
    </script>

    </body>
    
</html>